*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(19, 18, 18);
}

h1{
    font-size: 12em;
    font-weight: bold;
    color: rgb(0, 255, 179);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    position: relative;
    text-transform: uppercase;
}

h1::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    content: 'WATER';
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%{
        height: 25%;
    }
    25%{
        height: 50%;
    }
    50%{
        height: 30%;
    }
    75%{
        height: 70%;
    }
    100%{
        height: 50%;
    }
}


